.bookshelves {
  list-style-type: none;
}

.bookshelves__item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.bookshelves__item-active {
  background: green;
}

.book__title {
  min-width: 300px;
  display: inline-block;
}

.book__button {
  margin: 5px 10px 5px 10px;
}
